html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    user-select: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0;
    background-image: url('../files/bg.jpg');
    background-size: cover;
    
}
img{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

#demo {
    width: 50%;
    height: auto;
    border-radius: 12px;
}

#instructions {
    width: 50%;
}
p{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

li{
    padding: 5px;
}

#playBtn{
    margin-top: 5%;

    background-color: #47df4cd7;
    border: none;
    color: white;
    padding: 2%;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 24px;
    cursor: pointer;
    border-radius: 12px;
    font-weight: bold;
}

#playBtn:hover,img:hover{
    transition: 0.5s;
    background-color: #4CAF50;
    box-shadow: 1px 1px 10px 10px rgba(2, 192, 65, 0.342);
  }
  
  
  




